$deeperRed: #d2000f;
$avenirSans: "Avenir";
$typocountrSubHed: 1.7em;
$imgDisplay: flex;
$imgMargin-top: 15px;
$imgMargin-bottom: 10px;
$counterDisplay: flex;
$counterCentering: center;
$counterPadding: 35px;
$counterButton: white;
