body {
  font-family: "Avenir";
}

h3 {
  font-size: 1.7em;
}

img {
  display: block;
}

.counterblock {
  background-color: red;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;

}

.counterbutton {
  background-color: white;
}

#tagline {
  display: flex;
  justify-content: center;
  align-items: center;
}
